<div style="text-align:center">
  <h1>
    Welcome to my {{ title }}!
  </h1>
  <br>

  <input 
    type="text"
    (input)="onInputChange($event)"
    [value]="input"
    id="todo-input"
  >

  <button (click)="onAddItem()">Add</button>

  <ul id="todoList">
    <li 
      *ngFor="let item of todos"
      (click)="toggleItemComplete($event)"
      id={{item.id}}
      [ngClass]="{'strikethrough':item.completed}"
    >
      {{ item.description }}
    </li>
  </ul>

  <button 
    (click)="clearTodos()"
    id="clear-btn"
    [ngClass]="{'hidden':todos.length === 0}"
  >
    Clear List
  </button>

</div>


